.hxui-reset {
  ul.hx-list-group {
    div.hx-list-content {
      display: flex;;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.hx-toolbar.is-brand{
  background: #3fba89;
  background: -webkit-gradient(linear,left top,right top,from(#3fba89),to(#0a4166));
  background: linear-gradient(to right,#3fba89,#0a4166);
  background: -webkit-linear-gradient(left,#3fba89,#0a4166);
}



.secureBadge {
  .hx-icon{
    font-size: 1rem;
  }
  span{
    padding-top: .15rem;
    font-size: .8rem;
  }
}
