<section class="hx-section">


  <div class="hx-card">
    <div class="hx-toolbar is-primary is-brand">
      <span>Enli | <b class="is-text-bold">Care Planning</b> </span>
      <div class="hx-spacer"></div>
    </div>
  <div class="hx-toolbar is-info  is-inverted is-perforated">
    <span class="">My Tasks </span>
    <div class="hx-spacer"></div>
  </div>
  <ul class="hx-list-group">
    <li class="">
      <a>
        <div class="hx-list-content">
          <div><b>Review Care plan</b></div>
          <small class="is-light">Assigned by Dr Bob Loblaw</small>
        </div>
        <div class="hx-list-action">
          <i class="hx-icon icon-angle-right"></i>
        </div></a>
    </li>
  </ul>
    <div class="hx-toolbar is-info is-inverted is-perforated">
      <span>Care Plan for Horatio Farnswell<br> <small>Last care plan 25/06/17</small></span>
      <div class="hx-spacer"></div>

    </div>
    <ul class="hx-list-group">
      <li class="">
        <a>
          <div class="hx-list-content">
            <div>Review care plan</div>
          </div>
          <div class="hx-list-action">
            <i class="hx-icon icon-angle-right"></i>
          </div></a>
      </li>
      <li class="">
        <a>
          <div class="hx-list-content">
            <div>Assign care plan</div>
          </div>
          <div class="hx-list-action">
            <i class="hx-icon icon-angle-right"></i>
          </div></a>
      </li>
      <li class="">
        <a>
          <div class="hx-list-content">
            <div>Create care plan</div>
          </div>
          <div class="hx-list-action">
            <i class="hx-icon icon-angle-right"></i>
          </div></a>
      </li>
    </ul>
    <div class="hx-toolbar is-info is-inverted is-perforated">
      <span>Administration</span>
      <div class="hx-spacer"></div>

    </div>
    <ul class="hx-list-group">
      <li class="">
        <a>
          <div class="hx-list-content">
            <div>View all plan statuses</div>
          </div>
          <div class="hx-list-action">
            <i class="hx-icon icon-angle-right"></i>
          </div></a>
      </li>
    </ul>
  </div>
<div class="hx-flex hx-flex-justify-center hx-flex-align-center py-3 px-3 is-text-gray secureBadge">
  <i class="hx-icon icon-lock"></i> <span>Safe & Secure</span>
</div>
</section>
