$icons-path: '../node_modules/@hxui/css/static/static/fonts/';
@import '../node_modules/@hxui/css/static/static/scss/hxui.scss';
@import './app/app.component';


.is-perforated{
  border-bottom: 1px dashed $border-color;
}


.hxui-reset .hx-toolbar.is-info.is-inverted span {
  color: #0b5282;
}
